.banner-movie {
  position: relative;
  width: 100%;
}


.banner-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.round-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 215, 0, 0.8);
  color: #fff;
  font-size: 14px;
}

.round-rating .fa-star {
  margin-right: 5px;
}



.scroll-button {
    position: relative;
    bottom: 300px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  /* .scroll-button.left-0 {
    left: 0;
  }
  
  .scroll-button.right-0 {
    right: 0;
  } */

  .scroll-data-none::-webkit-scrollbar{
    display: none;
  }

  @media (max-width:480px) {
    
    .scroll-button{
     display: none;
    }
  .main{
    display: none;
  }
 }
 @media (min-width:481px) {
  .main{
    display: block;
  }
 }