.movie-details {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.movie-details-content {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  z-index: 1;
}

.poster-container {
  margin-bottom: 20px;
}

.poster {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info {
  max-width: 800px;
}

.title {
  font-size: 50px;
  margin-bottom: 20px;
}

.overview {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.vote-average {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.movie-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.movie-actions .btn {
  background: none;
  border: none;
  cursor: pointer;
}

.movie-actions .btn img {
  width: 40px;
  height: 40px;
}
.release-date {
  font-size: 1rem;
  color: #ffd700; /* Gold color for visibility */
  margin-bottom: 10px;
  text-align: left; /* Align text to the left */
}

.vote-average {
  font-size: 1.1rem;
  color: #32cd32; /* Lime green color for visibility */
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left; /* Align text to the left */
}
@media (max-width: 1024px) {
  .movie-details-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .poster-container {
    margin-bottom: 20px;
  }

  .poster {
    height: 150px;
  }

  .movie-info {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .overview {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .vote-average {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .movie-actions {
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .movie-actions .btn img {
    width: 35px;
    height: 35px;
    
  }
  
}

@media (max-width: 768px) {
  .movie-details {
    height: auto;
  }

  .movie-details-content {
    padding: 20px;
    margin-bottom: 20px; 
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .overview {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .vote-average {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .movie-actions {
    width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .movie-actions .btn img {
    width: 35px;
    height: 35px;
  }
 
}

@media (max-width: 425px) {
  .title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .overview {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .vote-average {
    font-size: 14px;
    margin-top: 5px;
  }

  .movie-actions .btn img {
    width: 35px;
    height: 35px;
  }
}
